* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../../assets/images/4a90a9e5a3815e3b91cee32b9a89a8e3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    max-width: 700px;
    backdrop-filter: blur(10px);
    background-color: transparent;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input{
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: blue;
    margin-bottom: 25px;
    color:#fff;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
